body {
    font-family: "JetBrains Mono", "LXGW WenKai Screen";
    font-size: 2.3rem;
}
.text-intro {
    font-size: 2.7rem;
}
.flexblock li h2, h2 {
    font-size: 2.8rem;
}
h1 {
    font-size: 6.0rem;
}
pre[class*=language-], code[class*=language-], pre, code {
    font-family: "JetBrains Mono", "LXGW WenKai Screen";
    font-size: 2.3rem;
    font-variant-ligatures: none;
}
code[class*=small-code] {
    font-size: 2rem;
}
h1.small-h1 {
    font-size: 5.5rem;
}
.big-title {
    font-size: 3.5em;
}
.pink-button, .pink-button:hover {
    border-color: #FF94B1;
}